h1 {
  font-family: Arial, sans-serif;
  color: blue;
}

p {
  font-family: Verdana, sans-serif;
  color: green;
}

input {
  width: 300px;
  height: 30px;
  background-color: lightgray;
  border-radius: 5px;
}

textarea {
  width: 300px;
  height: 100px;
  background-color: lightgray;
  border-radius: 5px;
}
